<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blender - @ViewBag.Title </title>
    <link rel="icon" 
      type="image/png" 
      href="/Content/images/blender-icon.svg">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/@ViewBag.extrascript"></script>
    <link rel="stylesheet" href="~/Content/sass/site.css" />
    <link rel="stylesheet" href="~/Content/sass/grid.css" />
    <link rel="stylesheet" href="~/Content/sass/blender.css" />
    <link rel="stylesheet" href="~/Content/sass/vars.css" />
    <link rel="stylesheet" href="~/Content/sass/keyframes.css" />
    <link rel="stylesheet" href="~/Content/sass/display.css" />
    <link rel="stylesheet" href="~/Content/sass/@ViewBag.extrastylesheet" />
</head>
<body onload="getSystem()">
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Blender", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navigation navbar-nav">
                    <li>@Html.ActionLink("Recipes", "Index", "recipes")</li>
                    <li>@Html.ActionLink("Categories", "Index", "categories")</li>
                    <li>@Html.ActionLink("Ingredients", "Index", "ingredients")</li>
                    <div id="slider_div" class="row">
                        <p class="nav-text-white col-4 my-auto text-right">Imperial</p>
                        <form id="system_form" class="col-4 my-auto" method="post" action="../AppVariables/toggleSystem?syst=imperial&callingPage=/">
                            @Html.AntiForgeryToken()
                            <label class="switch">
                                <input id="system" type="checkbox" onclick="toggleSystemPost(); toggleSystemSession();" />
                                <span class="slider round"></span>
                            </label>
                            <!-- <input type="submit" value="system toggle" class="btn btn-default" /> -->
                        </form>
                        <p class="nav-text-white col-4 my-auto text-left">Metric</p>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @* <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer> *@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
