@model IEnumerable<blender.Models._recipe>
    @{
        string recipe_id = this.ViewData.ContainsKey("recipe_id") ? this.ViewData["recipe_id"].ToString() : string.Empty;
        string name = this.ViewData.ContainsKey("name") ? this.ViewData["name"].ToString() : string.Empty;
        string image_url = this.ViewData.ContainsKey("image_url") ? this.ViewData["image_url"].ToString() : string.Empty;
        string skill_level = this.ViewData.ContainsKey("skill_level") ? this.ViewData["skill_level"].ToString() : string.Empty;
        string categories = this.ViewData.ContainsKey("categories") ? this.ViewData["categories"].ToString() : null;
    }

<div class="flexbox_teaser" onclick="window.location.replace('/recipes/details/'+@recipe_id)">
    <img class="my-auto mx-auto" src="@image_url" alt="@name">
    <div class="titlediv">
        <div class="row space-row">
            <p class="recipe-name">@Html.DisplayFor(modelItem => name)</p>
            <p class="recipe-level">@Html.DisplayFor(modelItem => skill_level)</p>
        </div>
        <div class="row categories space-row">
             @if (categories != null)
            {
                foreach (var category in categories.Split('%'))
                {
                    @Html.ActionLink(@category, "../categories/Details", new { id = category})
                }
            }
        </div>
    </div>
    
</div>
