@model blender.Models.unit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>unit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.unit_system.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_system.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_type.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_type.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.name }) |
    @Html.ActionLink("Back to List", "Index")
</p>
