@model blender.Models.ingredient

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<p>If you confirm, all recipes that require @Model.name will no longer require it.</p>
<div>
    <h4>ingredient</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        @if (Model.source != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.source)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.source)
            </dd>
        }

        @if (Model.price != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>
        }

        @if (Model.color != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.color)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.color)
            </dd>
        }

        @if (Model.description != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
        }
    </dl>
  

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
