@model blender.Models._recipe

@{
    ViewBag.Title = @Model.name;
    ViewBag.extrascript = "features.js";
}

    <div class="display">
        <div class="header">
            <p id="title" class="title">
                @Html.DisplayFor(model => model.name)
            </p>
        </div>
        <div class="body">
            <div id="info" class="info">
                <div class="description">
                    <p id="description">
                        Cook Time: 
                        @Html.DisplayFor(model => model.cook_mins)
                    </p>
                </div>
                <div class="timeinvest">
                    <p id="timeinvest">
                        @Html.DisplayFor(model => model.prep_mins)
                    </p>
                </div>
                <div class="source">
                    <p id="source">
                        @Html.DisplayFor(model => model.calories)
                    </p>
                </div>
            </div>
            <img id="imageURL" src="@Model.image_url" alt="@Model.name">
            <div class="ingredients">
                <p>Ingredients</p>
                <div class="row">
                        Servings  
                        @Html.EditorFor(model => model.serves,  new { htmlAttributes = new { @min = Model.serves, @class = "col-4 servings"} })
                    
                <button class="button create-button col-4" onclick="loadNewServings()">Adjust</button>
                </div>
                <p id="ingredients">
                    @foreach (string requirement in ViewData["_requires"].ToString().Split('@'))
                    {
                        <p>
                            @foreach (string aui in requirement.Split('%'))
                            {
                                <span>
                                    @aui
                                </span>
                            }
                        </p>
                    }
                </p>
            </div>
            <div class="instructions">
                <p>Instructions</p>
                <p id="instructions">
                    @Html.DisplayFor(model => model.instructions)
                </p>
            </div>
        </div>
        <div class="footer">
            <div class="category_display_s">
                @foreach (var category in Model.categories)
                {
                    @Html.ActionLink(@category, "../categories/Details", new { @id = category })
                }
            </div>
            @Html.DisplayFor(model => model.skill_level)
            <form method="post" action="~/recipes/Duplicate/@Model.recipe_id">
                @Html.AntiForgeryToken()
                <input type="submit" value="Duplicate Recipe" class="button create-button" />
            </form>
        </div>
    </div>

<div>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recipe_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


