@model IEnumerable<blender.Models._recipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skill_level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categories)
        </th>
    </tr>

    @foreach (var item in Model)
        {
            {Html.RenderPartial("_recipe_teaser", new ViewDataDictionary {
              { "recipe_id", item.recipe_id },
              { "name", item.name },
              { "image_url", item.image_url },
              { "skill_level", item.skill_level },
              { "categories", string.Join("%", item.categories.ToArray()) } });
            }
        }

</table>
