@model IEnumerable<blender.Models.recipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serves)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prep_mins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cook_mins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.visual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skill_level1.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serves)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prep_mins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cook_mins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.visual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill_level1.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.recipe_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.recipe_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.recipe_id })
        </td>
    </tr>
}

</table>
