@model IEnumerable<blender.Models._recipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skill_level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categories)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill_level)
        </td>
        <td>
            @foreach (var category in item.categories)
                {
                    @Html.ActionLink(@category, "../categories/Details", new { id = category })
                }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.recipe_id }) |
            @Html.ActionLink("Recipe", "Details", new { id=item.recipe_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.recipe_id })
        </td>
    </tr>
}

</table>
